.menus {
  background-color: #F19F4D;
  padding: 0.5em 0.5em 0.5em 2.5em; 
  position: absolute;
  left: -10%;
  width: 15%;
  height: 2%;
  z-index: 1;
  border-radius: 25px;

  transition: 1s;
}

.menus text {
  font-family: arial;
  position: absolute;
  top: 20%;
  left: 70%;
  font-size: 100%;
}

::-webkit-scrollbar { 
    display: none; /* hide the scrollbar. */
}

.menus:hover { 
  left: 56%; 
  z-index: 2; /* the menu being hovered upon should rise above the other menus */
}

.label:hover {
  background-color: yellow;
  cursor: pointer;
}


#vectorsMenu {
  top: 10%;
}

#spansMenu {
  top: 20%;
}

#matricesMenu {
  top: 30%;
}

#plotterMenu {
  top: 40%;
}

#homeMenu {
   background-color: #002233;
   position: absolute;
   right: 1%;
   width: 7%;
   height: 9%;
   z-index: 1;

}

.form {
  background-color: #F19F4D;
  opacity: 0.9;
  margin: -3em 0 0 0;
  padding: 0.5em;
  position: absolute;
  left: -300%;
  width: 300%;
  height: 1250%;
  border-radius: 25px;
  
  font-family: arial;
  overflow: auto;   
}

#vectorsInnerForm {
  position: absolute;
  width: 100%;
  left: 1%;
  top: 20%;

  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% auto;
  grid-column-gap: 5%;

  font-size:8px;
}


#matricesInputs {
  grid-template-columns: 66% auto;
  grid-column-gap: 1%;

  font-size:8px;
}

#matricesTextsInputs {
  display: grid ;
  grid-template-columns: 66% auto;
  grid-column-gap: 1%;
}

#matricesTextsInputs input {
  width : 145px;
}

#matrixInput {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-column-gap: 1%;
}

#vectorInput {
  display: grid;
  grid-template-columns: 20%;
  grid-column-gap: 1%;
}

#matricesTextsInputs input {
  width : 10px;
  height : 20px;
}

#plotterInputs {
  position: absolute;
  width: 90%;
  left: 1%;
  top: 20%;

  font-size:8px;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  grid-column-gap: 5%;
}

#eqnDisplay {
  position: absolute;
  top: 40%;
  width: 100%;
}


#controlsMenu {
  top: 90%;
  left: 0%;

  opacity: 0.7;
  position: absolute;
  width: 20%;
  height: 5%;
  z-index: 1;

  transition: 0.2s;
}

#controlsMenu:hover {
  opacity: 1;
}

table {
  background-color: #ffffff;
}

.collapsible {  
    transition: height 1s;
}   

tr:hover {
  background-color: #eeeeee;
}
