.menus {
  background-color: #F19F4D;
  padding: 0.5em 0.5em 0.5em 2.5em; 
  position: absolute;
  left: -10%;
  width: 15%;
  height: 2%;
  z-index: 1;
  border-radius: 25px;

  transition: 1s;
}

.menus text {
  font-family: arial;
  position: absolute;
  top: 20%;
  left: 70%;
}

.menus:hover { 
  left: 56%; 
  z-index: 2; /* the menu being hovered upon should rise above the other menus */
}

.label:hover {
  font-size: 50;
  background-color: yellow;
  cursor: pointer;
}


#vectorsMenu {
top: 20%;
}

#spansMenu {
top: 40%;
/*left: 56%;*/
}

#matricesMenu {
top: 60%;
/*left: 56%;*/
}

::-webkit-scrollbar { 
    display: none; 
}

.form {
  background-color: #F19F4D;
  opacity: 0.9;
  margin: -3em 0 0 0;
  padding: 0.5em;
  position: absolute;
  left: -300%;
  width: 300%;
  height: 1250%;
  border-radius: 25px;
  


  font-family: arial;
  overflow: auto;   
}

#vectorsInnerForm {
    position: absolute;
    width: 100%;
    left: 1%;
    top: 20%;

    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% auto;
    grid-column-gap: 5%;

    font-size:8px;

}

/*
#spanTable {
  background-color: green;
  border: 2px solid black;

  display: grid;

  font-size:8px;

}


#spanTableHeader {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1%;
}

#spanTableBody {
  display: grid;
  grid-template-columns: auto auto ;
  grid-column-gap: 1%; 
}
*/


#matricesInputs {
  /*background-color: yellow;
  border: 2px solid black;*/
  grid-template-columns: 66% auto;
  grid-column-gap: 1%;

  font-size:8px;
}
#matricesButns {

}
#eigenValueSelector {

}
#matricesTextsInputs {
  display: grid ;
  grid-template-columns: 66% auto;
  grid-column-gap: 1%;
}

#matricesTextsInputs input {
  width : 145px;
}
#matrixInput {
  /*border: 2px solid red;*/
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-column-gap: 1%;
}

#vectorInput {
  /*border: 2px solid black;*/
  display: grid;
  grid-template-columns: 20%;
  grid-column-gap: 1%;
}
#matricesTextsInputs input {
  width : 10px;
  height : 20px;
}
/*
#matricesDisplay {
  background-color: yellow;
  border: 2px solid black;

  font-size:8px;
}
#matricesTextDisplay {

}
#matricesTable {
  background-color: green;
  border: 2px solid black;

  display: grid;

  font-size:8px;
}

#matricesTableHeader {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1%;
}
#matricesTableBody {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1%;
}

*/






